*.suo
obj/
*.vsp
*.psess
Phamhilator/Phamhilator.vshost.exe
Phamhilator/MahApps.Metro.xml
Phamhilator/Phamhilator.vshost.exe.manifest
Phamhilator/Newtonsoft.Json.xml
Phamhilator/Newtonsoft.Json.xml
Phamhilator/Config/Creds.txt
NLP/bin/Release/stanford-postagger-3.5.0.dll
Ghamhilator/bin/Debug/ChatExchange.Net.dll
Ghamhilator/bin/Debug/ChatExchange.Net.pdb
Ghamhilator/bin/Debug/ChatExchange.Net.pdb
Ghamhilator/bin/Debug/CsQuery.dll
Ghamhilator/bin/Debug/CsQuery.dll
Ghamhilator/bin/Debug/CsQuery.xml
Ghamhilator/bin/Debug/Ghamhilator.exe
Ghamhilator/bin/Debug/Ghamhilator.pdb
Ghamhilator/bin/Debug/Ghamhilator.exe.config
Ghamhilator/bin/Debug/Ghamhilator.exe.config
Ghamhilator/bin/Debug/Newtonsoft.Json.dll
Ghamhilator/bin/Debug/Newtonsoft.Json.xml
Ghamhilator/bin/Debug/WebSocket4Net.dll
NLP/bin/Debug/IKVM.AWT.WinForms.dll
NLP/bin/Debug/IKVM.OpenJDK.Beans.dll
NLP/bin/Debug/IKVM.OpenJDK.Charsets.dll
NLP/bin/Debug/IKVM.OpenJDK.Cldrdata.dll
NLP/bin/Debug/IKVM.OpenJDK.Corba.dll
NLP/bin/Debug/IKVM.OpenJDK.Core.dll
NLP/bin/Debug/IKVM.OpenJDK.Management.dll
NLP/bin/Debug/IKVM.OpenJDK.Jdbc.dll
NLP/bin/Debug/IKVM.OpenJDK.Localedata.dll
NLP/bin/Debug/IKVM.OpenJDK.Media.dll
NLP/bin/Debug/IKVM.OpenJDK.Misc.dll
NLP/bin/Debug/IKVM.OpenJDK.SwingAWT.dll
NLP/bin/Debug/IKVM.OpenJDK.Util.dll
NLP/bin/Debug/IKVM.OpenJDK.Tools.dll
NLP/bin/Debug/IKVM.OpenJDK.XML.Crypto.dll
NLP/bin/Debug/IKVM.OpenJDK.XML.Bind.dll
NLP/bin/Debug/IKVM.OpenJDK.XML.Parse.dll
NLP/bin/Debug/IKVM.OpenJDK.Naming.dll
NLP/bin/Debug/IKVM.OpenJDK.Security.dll
NLP/bin/Debug/IKVM.OpenJDK.XML.API.dll
NLP/bin/Debug/IKVM.OpenJDK.XML.WebServices.dll
NLP/bin/Debug/IKVM.OpenJDK.XML.XPath.dll
NLP/bin/Debug/IKVM.Runtime.dll
NLP/bin/Debug/IKVM.Runtime.JNI.dll
NLP/bin/Debug/NLP.dll
NLP/bin/Debug/NLP.pdb
NLP/bin/Release/IKVM.OpenJDK.Core.dll
NLP/bin/Release/IKVM.OpenJDK.Corba.dll
NLP/bin/Release/IKVM.OpenJDK.Jdbc.dll
NLP/bin/Release/IKVM.OpenJDK.Localedata.dll
NLP/bin/Release/IKVM.OpenJDK.Management.dll
NLP/bin/Release/IKVM.OpenJDK.Media.dll
NLP/bin/Release/IKVM.OpenJDK.Naming.dll
NLP/bin/Release/IKVM.OpenJDK.Nashorn.dll
NLP/bin/Release/IKVM.OpenJDK.Security.dll
NLP/bin/Release/IKVM.OpenJDK.Cldrdata.dll
NLP/bin/Release/IKVM.OpenJDK.Charsets.dll
NLP/bin/Release/IKVM.OpenJDK.Remoting.dll
NLP/bin/Release/IKVM.OpenJDK.Text.dll
NLP/bin/Release/IKVM.OpenJDK.XML.Bind.dll
NLP/bin/Release/IKVM.OpenJDK.Misc.dll
NLP/bin/Release/IKVM.OpenJDK.XML.API.dll
NLP/bin/Release/IKVM.OpenJDK.XML.XPath.dll
NLP/bin/Release/IKVM.OpenJDK.Util.dll
NLP/bin/Release/IKVM.OpenJDK.XML.Crypto.dll
NLP/bin/Release/IKVM.OpenJDK.XML.Transform.dll
NLP/bin/Release/IKVM.OpenJDK.XML.WebServices.dll
NLP/bin/Release/IKVM.Runtime.dll
NLP/bin/Release/IKVM.Runtime.JNI.dll
NLP/bin/Release/NLP.dll
NLP/bin/Release/NLP.pdb
NLP/bin/Debug/IKVM.OpenJDK.Nashorn.dll
NLP/bin/Debug/IKVM.OpenJDK.Remoting.dll
NLP/bin/Debug/IKVM.OpenJDK.Text.dll
NLP/bin/Debug/IKVM.OpenJDK.XML.Transform.dll
NLP/bin/Debug/stanford-postagger-3.5.0.dll
NLP/bin/Release/IKVM.AWT.WinForms.dll
NLP/bin/Release/IKVM.OpenJDK.Beans.dll
NLP/bin/Release/IKVM.OpenJDK.SwingAWT.dll
NLP/bin/Release/IKVM.OpenJDK.Tools.dll
NLP/bin/Release/IKVM.OpenJDK.XML.Parse.dll
Phamhilator/bin/Debug/ChatExchange.Net.dll
Phamhilator/bin/Debug/ChatExchange.Net.pdb
Phamhilator/bin/Debug/Config/credE
Phamhilator/bin/Debug/Config/credP
Phamhilator/bin/Debug/Config/Creds.txt
Phamhilator/bin/Debug/CsQuery.dll
Phamhilator/bin/Debug/CsQuery.xml
Phamhilator/bin/Debug/JsonFx.dll
Phamhilator/bin/Debug/JsonFx.xml
Phamhilator/bin/Debug/Newtonsoft.Json.dll
Phamhilator/bin/Debug/Newtonsoft.Json.xml
Phamhilator/bin/Debug/Pham.exe
Phamhilator/bin/Debug/Pham.exe.config
Phamhilator/bin/Debug/Pham.pdb
Phamhilator/bin/Debug/Pham.vshost.exe
Phamhilator/bin/Debug/Pham.vshost.exe.config
Phamhilator/bin/Debug/Pham.vshost.exe.manifest
Phamhilator/bin/Debug/Phamhilator.exe
Phamhilator/bin/Debug/Phamhilator.exe.config
Phamhilator/bin/Debug/Phamhilator.pdb
Phamhilator/bin/Debug/Phamhilator.vshost.exe
Phamhilator/bin/Debug/Phamhilator.vshost.exe.config
Phamhilator/bin/Debug/Phamhilator.vshost.exe.manifest
Phamhilator/bin/Debug/websocket-sharp.dll
Phamhilator/bin/Debug/websocket-sharp.xml
Phamhilator/bin/Debug/WebSocket4Net.dll
Yamhilator/bin/Debug/ChatExchange.Net.dll
Yamhilator/bin/Debug/ChatExchange.Net.pdb
Yamhilator/bin/Debug/Config/credE
Yamhilator/bin/Debug/Config/credP
Yamhilator/bin/Debug/CsQuery.dll
Yamhilator/bin/Debug/CsQuery.xml
Yamhilator/bin/Debug/Newtonsoft.Json.dll
Yamhilator/bin/Debug/Yamhilator.vshost.exe
Yamhilator/bin/Debug/Yamhilator.exe.config
Yamhilator/bin/Debug/Yamhilator.exe
Yamhilator/bin/Debug/Yamhilator.pdb
Yamhilator/bin/Debug/Newtonsoft.Json.xml
Yamhilator/bin/Debug/WebSocket4Net.dll
Yamhilator/bin/Debug/Yamhilator.vshost.exe.config
Yamhilator/bin/Debug/Yamhilator.vshost.exe.manifest
